{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">
  <title>Agenda</title>

  <style>
    body {
      margin-top: 80px
    }

    #link {
      color: white;
    }

    .card {
      margin-left: -8px;
      margin-right: 10px;
      background-color: #4444ff;
      border-bottom: 1px solid #e9ecff;
    }

    .btn {
      outline: none;
      color: black;
      background-color: transparent;
      box-shadow: 0 0 0 0;
      margin-right: 3px;
    }

    .clearfix {
      margin: 15px;
    }

    .date {
      display: block;
      color: #010101;
      text-align: right;
      margin-top: 5px;
    }

    .date-now {
      display: block;
      font-size: 18px;
      color: red;
      text-align: right;
      margin-top: 5px;
    }

    .back-table-now .card {
      margin-left: -8px;
      margin-right: 10px;
      background-color: #ff2b2b;
      border-bottom: 1px solid #e9ecff;
    }

    .back-table {
      background-color: #fafafa;
    }

    .back-table-now {
      background-color: #e0e0e0;
    }

    .month {
      background-color: #d0d0d0;
      text-transform: capitalize;
      color: black;
    }

    .calendar tr {
      background-color: #f0f0f0;
    }

    .none-week {
      background-color: #ffffff;
    }
  </style>

</head>

<body>
  {% include "includes/nav.html" %}
  <h1 style="border-bottom: 2px solid #b2b4b7;padding-bottom: 10px;" class="title">{% block title %}{% endblock %}</h1>


  {% block content %}

  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block script %}
  {% endblock %}
</body>

</html>