<!doctype html>
<html lang="pt-br">

<head>
    {% extends 'cal/base.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <style>


    </style>


</head>

<body>
    {% block title %}
    Calendário
    {% endblock %}

    {% block content %}
    <div class="container">

        <div id="margin" class="clearfix">
            <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> &nbsp;Próximo Mês &nbsp;<i
                    class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ prev_month }}"><i
                    class="fa fa-arrow-circle-left" aria-hidden="true"></i> &nbsp;Mês Anterior &nbsp; </a>
            <!--<a class="btn btn-info right" href="{% url 'cal:event_new' %}"> Adicionar Evento </a>-->
        </div>

        {{ calendar }}
        {% for event in id_event %}
        <div class="modal fade" id="ID{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="text-transform: capitalize;">
                            {{ event.title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        {{ event.description }}
                    </div>

                    <div class="modal-footer">
                        <p style="padding-right: 0px; margin-bottom: -3px;">{{ event.format_date }} —
                            {{ event.format_date_end }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
    {% endblock %}

</body>

</html>