<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <style>
        #titulo_form {
            border-bottom: 2px solid #b2b4b7;
            padding-bottom: 10px;
            margin-top: -30px;
        }

        .jumbotron {
            width: 70%;
            margin: auto;
        }

        .button-form {
            margin-top: 10px;
            text-align: right;
        }
    </style>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2 id="titulo_form" style="margin-bottom: 30px;" class="text-center">Criar Evento</h2>

            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            <form method="POST" novalidate="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <input type="hidden" name="id_comment" id="id_id_comment" value="{{ id_cliente.id }}">
                        </div>

                        <div class="form-group">
                            <label for="id_title">
                                Título
                            </label>
                            <input type="text" name="title" maxlength="200" required="" class="form-control"
                                id="id_title">
                        </div>

                        <div class="form-group">
                            <label for="id_description">
                                Descrição
                            </label>
                            <textarea name="description" cols="40" rows="10" required="" class="form-control"
                                id="id_description"></textarea>
                        </div>

                        <div class="form-row">

                            <div style="margin-top: 10px;" class="col-md-6 mb-3">
                                <label for="id_start_time">
                                    Horário Inicial
                                </label>
                                <input type="datetime-local" name="start_time" required="" class="form-control"
                                    id="id_start_time">
                            </div>

                            <div style="margin-top: 10px;" class="col-md-6 mb-3">
                                <label for="id_start_time">
                                    Horário Final
                                </label>
                                <input type="datetime-local" name="end_time" required="" class="form-control"
                                    id="id_end_time">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button-form">
                    <a href="{% url 'cal:calendar' %}">
                        <button style="margin-right: 10px;" type="button" class="btn btn-info">
                            <span class="fa fa-calendar"></span>&nbsp;&nbsp;Calendário
                        </button>
                    </a>
                    <button type="submit" class="btn btn-success">
                        <span class="fa fa-check"></span>Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>

</html>