<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos os eventos</title>

    <style>
        .mb-1   {
            max-width: 80ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: capitalize;
        }
        .jumbotron {
            width: 85%;
            margin: auto;
        }
        #titulo_form {
            border-bottom: 2px solid #b2b4b7;
            padding-bottom: 10px;
        }
        #link {
            color: #000000;
        }
        #link: hover {
            color: #bbbbbb;
        }
    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}

<div class="geral">
    <div class="jumbotron">
    <!-- Pegar cada evento apenas -->
        <div style="margin-top: -30px;" class="container">
            <h2 id="titulo_form" style="margin-bottom: 30px;" class="text-center">Eventos definidos</h2>

            {% for obj in description %}
            <div style="margin-top:10px;" id="accordion">
                <div class="card">
                    <div class="card-header" id="ID{{ obj.id }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#ID{{ obj.id }}{{ obj.id }}" aria-expanded="false" aria-controls="ID{{ obj.id }}{{ obj.id }}">
                                <strong id="link" style="text-transform: capitalize;">{{ obj.cliente }}</strong>
                            </button>
                        </h5>
                    </div>

                    <div id="ID{{ obj.id }}{{ obj.id }}" class="collapse" aria-labelledby="ID{{ obj.id }}" data-parent="#accordion">
                        <div class="card-body">
                            {%for event in lista_event %}
                            {% if obj.id == event.id_comment.id %}

                            {% if event.prazo_encerrado %}
                            <div class="list-group">
                                <a data-toggle="modal" href="#PK{{ event.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ event.title }}</h5>
                                        <small class="text-muted">{{ event.format_date }}</small>
                                    </div>
                                    <p class="mb-1">{{ event.description }}</p>
                                </a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="PK{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel" style="text-transform: capitalize;">{{ event.title }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            {{ event.description }}
                                        </div>

                                        <div class="modal-footer">
                                            <p style="padding-right: 0px;">{{ event.start_time }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {% endif %}
                            {% endif %}
                            {% endfor %}

                            <div style="margin-top: 15px; margin-bottom: -5px;" class="alert alert-dark" role="alert">
                                <strong style="text-align: center;">Eventos encerrados.</strong>
                            </div>

                            {%for event in lista_event %}
                            {% if obj.id == event.id_comment.id %}

                            {% if event.prazo_encerrado != True %}
                            <div class="list-group">
                                <a data-toggle="modal" href="#ID{{ event.id }}" style="background-color: #E9ECEF;" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ event.title }}</h5>
                                        <small class="text-muted">{{ event.format_date }}</small>
                                    </div>
                                    <p class="mb-1">{{ event.description }}</p>
                                </a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="ID{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModal" style="text-transform: capitalize;">{{ event.title }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            {{ event.description }}
                                        </div>

                                        <div class="modal-footer">
                                            <p style="padding-right: 0px;">{{ event.start_time }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}

</body>
</html>