<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eventos</title>

    <style>
        .jumbotron {
            width: 75%;
            margin: auto;
        }

        #titulo_form {
            border-bottom: 2px solid #b2b4b7;
            padding-bottom: 10px;
        }

        #link_seta {
            color: rgb(52, 58, 64);
        }

        #link_seta :hover {
            color: rgba(52, 58, 64, 0.7);
        }

        #link {
            color: #000000;
        }

        #link:hover {
            color: #bbbbbb;
        }

        .geral {
            margin-top: -30px;
        }
    </style>

</head>

<body>
    {% extends "base.html" %}

    {% block content %}
    <a id="link_seta" href="{% url 'comment:processo_comment_detail'  id %}">
        <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
    </a>
    <div class="geral">
        <div class="jumbotron">
            <div style="margin-top: -30px;" class="container">

                <h2 id="titulo_form" style="margin-bottom: 30px;" class="text-center">Eventos definidos</h2>
                {% if comment_event %}
                {% for obj in comment_event %}


                <div style="margin-top:10px;" id="accordion">
                    <div class="card">
                        <div class="card-header" id="ID{{ obj.id }}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#ID{{ obj.id }}{{ obj.id }}" aria-expanded="false"
                                    aria-controls="ID{{ obj.id }}{{ obj.id }}">
                                    <strong id="link" style="text-transform: capitalize;">{{ obj.title }}</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="ID{{ obj.id }}{{ obj.id }}" class="collapse" aria-labelledby="ID{{ obj.id }}"
                            data-parent="#accordion">
                            <div class="card-body">
                                &nbsp;&nbsp;&nbsp;{{ obj.description }}
                            </div>

                            <div style="margin: -5px;" class="modal-footer">
                                <p style="font-size:14px;" class="text-muted">Data do evento: &nbsp; {{ obj.start_time
                                    }} — {{ obj.end_time }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% else %}
                <p style="margin-top: 30px; text-align: center;" class="alert alert-warning">Sem Eventos na agenda.</p>
                {% endif %}
            </div>
            </divv>
        </div>
        {% endblock content %}
</body>

</html>