<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- Titulo -->
    <title>Editar Observações</title>

    <!-- Configurações do css margens, bordas e asterístico -->
    <style>
        .jumbotron {
            width: 75%;
            margin: auto;
        }
        #titulo_form {
            border-bottom: 2px solid #b2b4b7;
            padding-bottom: 10px;
        }
        .button_form {
            margin-top: 20px;
            text-align: right;
        }
    </style>
</head>
<body>
{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <!-- Criando um formulario com método POST -->
        <form method="POST" novalidate="">
            <!-- Token para liberar postar no formulario (Segurança) -->
            {% csrf_token %}
            <!-- Titulo -->
            <h2 id="titulo_form" style="margin-bottom: 30px;" class="text-center">{{ comentario.cliente_formatado }}</h2>

            <!-- Classe: Para cada caixa ficar um embaixo do outro-->
            <div class="row">
                <!-- Classe: tamanho da caixa -->
                <div class="col-sm-12">
                    <div class="form-group" >
                        <!-- Não é visível(hidden) para o usário este campo -->
                        <input type="hidden" name="n_processo" id="id_n_processo" value="{{ comentario.n_processo_id }}">
                    </div>
                    <div class="form-group">
                        <label for="id_titulo">
                            Título
                        </label>
                        <input type="text" name="titulo" value="{{ comentario.titulo }}" maxlength="200" class="form-control" id="id_titulo">
                    </div>
                    <div class="form-group">
                        <label for="id_comment">
                            Observações
                        </label>
                        <textarea name="comment" cols="40" rows="10" class="form-control" id="id_comment">{{ comentario.comment }}</textarea>
                    </div>
                </div>
            </div>

            <!-- Classe: grupo de botões (Criado por mim)-->
            <div class="button_form">
                <a href="{% url 'comment:processo_comment_detail' comentario.n_processo_id %}">
                <button style="margin-right: 10px;" type="submit" class="btn btn-success">
                    <span class="fa fa-check"></span>&nbsp;Salvar
                </button>
                </a>

                <!-- Redireciona para a url caso for clicado -->
                <a href="{% url 'comment:processo_comment_detail' comentario.n_processo_id %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-close"></span>&nbsp;Cancelar
                    </button>
                </a>
            </div>

        </form>
    </div>
</div>


{% endblock content %}
</body>
</html>
