<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>

    <style>
        #link_seta {
            color: rgb(52, 58, 64);
        }
        #link_seta :hover {
            color:  rgba(52, 58, 64, 0.7);
        }
        #title_name {
            text-align: center;
            font-size: 35px;
        }
        .table_info {
            text-align: right;
        }
        .mb-1   {
            max-width: 80ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .geral {
            margin-top: -30px;
        }
    </style>

</head>
<body>
{% extends "base.html" %}
{% block content %}

    <!-- link para voltar na pagína anterior  url 'app:urls' -->
        <a id="link_seta" href="{% url 'description:processo_detail' cliente_detail.pk %}">
            <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
        </a>
<div class="geral">

    <div class="button_comment">

    <h1>
    <span class="pull-right">
            <a href="{% url 'comment:processo_comment_form' cliente_detail.pk %}">
            <button style="margin-left: 15px;" type="button" class="btn btn-primary">
                <span class="fa fa-plus"></span>&nbsp;Adicionar
            </button>
        </a>
    </span>

    </h1>
    <h1>
        <span class="pull-right">
            <a href="{% url 'description:processo_detail' cliente_detail.pk %}">
                <button type="button" class="btn btn-info">
                    <span class="fa fa-folder"></span>
                    Detalhes
                </button> <!-- botão para editar o produto-->
            </a>
        </span>
    </h1>

    <h1>
        <span style="margin-right:15px;" class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-danger"> <span class="fa fa-calendar"></span>&nbsp;&nbsp;Evento</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cal:event_new' cliente_detail.pk %}">Criar novo evento</a>
                    <a class="dropdown-item" href="{% url 'comment:comment_event' cliente_detail.pk %}">Lista de eventos</a>
                </div>
            </div>
        </span>
    </h1>
    </div>

        <div class="col-sm-6">
            <h1 class="text-center">{{ cliente_detail.cliente_formatado }}</h1>
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <th class="table_info">Proc-</th>
                        <td>{{ cliente_detail.pasta_formatado }}</td>
                    </tr>
                    <tr>
                        <th class="table_info">Natureza</th>
                        <td style="text-transform: capitalize;">{{ cliente_detail.natureza}}</td>
                    </tr>
                    <tr>
                        <th class="table_info">Tipo de Ação</th>
                        <td style="text-transform: capitalize;">{{ cliente_detail.tipo_action }}</td>
                    </tr>

                </tbody>
            </table>
        </div>


        <table style="margin-top: 50px;  margin-bottom: -10px;" class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" width="100%"><h4>Observações</h4></th>
                </tr>
            </thead>
        </table>

    {% if obj_list_detail %}
        <div style="margin-bottom: 40px;" class="card-body">
            {% for obj in obj_list_detail %}
                        <div class="list-group">
                            <a data-toggle="modal" href="#ID{{ obj.id }}" style="background-color: #E9ECEF;" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 style="text-transform: capitalize;" class="mb-1">{{ obj.titulo }}</h5>
                                    <small class="text-muted">{{ obj.created }}</small>
                                </div>
                                <p class="mb-1">{{ obj.comment }}</p>
                            </a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="ID{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 style="text-transform: capitalize;" class="modal-title" id="exampleModal">{{ obj.titulo }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ obj.comment }}
                                        </div>
                                        <div class="modal-footer">
                                           <a href="{% url 'comment:comment_delete' obj.pk %}">
                                               <button type="button" class="btn btn-danger">
                                                    <span class="fa fa-times"></span>
                                                    Apagar
                                                </button>
                                            </a>
                                            <a href="{% url 'comment:comment_update' obj.pk %}">
                                               <button type="button" class="btn btn-success">
                                                    <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                                                     Editar
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                {% endfor %}
                    </div>
    {% else %}
        <!-- COLOCAR NO CARD -->
        <p style="margin-top: 30px; text-align: center;" class="alert alert-warning">Sem itens na lista.</p>
    {% endif %}
</div>

{% endblock content %}
</body>
</html>