<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- Titulo -->
    <title>Detalhes</title>

    <!-- Definições para o template - CSS -->
    <style>
        .col-sm-6 {
            margin-bottom: 1px;
        }

        #link_seta {
            color: rgb(52, 58, 64);
        }

        #link_seta :hover {
            color: rgba(52, 58, 64, 0.7);
        }

        .upper {
            text-transform: uppercase;
        }

        .capitali {
            text-transform: capitalize;
        }

        .geral {
            margin-top: -30px;
            margin-bottom: 40px;
        }
    </style>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}

    <!-- link para voltar na pagína anterior  url 'app:urls' -->
    <a id="link_seta" href="{% url 'description:processo_list' %}">
        <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
    </a>

    <div class="geral">

        <!-- Cabeçalho com botões -->
        <h1 style="margin-bottom: 15px;">
            <!-- botão para apagar o produto -->
            <span class="pull-right">
                <a href="{% url 'description:processo_delete' object_detail.pk %}">
                    <button type="button" class="btn btn-danger">
                        <span class="fa fa-times"></span>
                        Apagar
                    </button>
                </a>
            </span>
            <!-- botão para editar o produto-->
            <span style="margin-right: 15px;" class="pull-right">
                <a href="{% url 'comment:processo_comment_detail' object_detail.pk %}">
                    <button type="button" class="btn btn-info">
                        <span class="fa fa-folder"></span>
                        Observações
                    </button>
                </a>
            </span>
        </h1>

        <!-- Tabela de informações do usuário-->
        <div class="col-sm-6">
            <h1 class="text-center">{{ object_detail }}</h1>
            <table class="table table-user-information">
                <!-- th: título td: informação do usário -->
                <tbody>
                    <tr>
                        <th class="text-right">Status</th>
                        <td>
                            <!-- Caso objeto for importado, faça: (mudar a cor do ícone) -->
                            {% if object_detail.status%}
                            <i class="fa fa-check-circle ok"></i>
                            {% else %}
                            <i class="fa fa-minus-circle no"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">Proc-</th>
                        <td>{{ object_detail.pasta_formatado }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Escritório Responsável</th>
                        <td class="upper">{{ object_detail.escritorio_responsavel }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Escritório de Origem</th>
                        <td class="upper">{{ object_detail.escritorio_origem }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Código de Processo</th>
                        <td class="upper">{{ object_detail.codigo_processo }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Cliente</th>
                        <td class="capitali">{{ object_detail.cliente }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Contrário</th>
                        <td class="capitali">{{ object_detail.contrario }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Tipo de Ação</th>
                        <td class="capitali">{{ object_detail.tipo_action }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Nº Principal</th>
                        <td>{% if object_detail.n_principal_formatado != False %}
                            {{ object_detail.n_principal_formatado }}
                            {% else %}
                            {{ object_detail.n_principal }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">Orgão Principal</th>
                        <td class="capitali">{{ object_detail.orgao_principal }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Professor</th>
                        <td class="upper">{{ object_detail.professor }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Natureza</th>
                        <td class="capitali">{{ object_detail.natureza }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endblock content %}
</body>

</html>