<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Processos</title>

    <!-- Configuração do template -->
    <style>
        .page-header {
            margin-bottom: 20px;
            margin-top: 80px;
        }

        #link a {
            color: #000000;
        }

        #link :hover {
            color: #bbbbbb;
        }
    </style>

</head>

<body>
    {% extends "base.html" %}

    {% block content %}

    <!-- CABEÇALHO -->
    <div class="page-header">
        <h2>Lista de Processos
            <!-- Criando um botão para adicionar que vai para protudo_form.html -->
            <span class="pull-right">
                <a href="{% url 'description:processo_add' %}  ">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus"></span>&nbsp;&nbsp;Adicionar
                    </button>
                </a>
            </span>
        </h2>
    </div>

    <div class="formulario">
        <!-- Criação da tabela para exibir as lista de produtos-->
        {% if object_list_dict %}
        <!-- Cabeçalho da tabela -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <!-- Coluna da tabela -->
                    <th>Status</th>
                    <th class="text-center">Proc-</th>
                    <th class="text-center">Escritório Responsável</th>
                    <th>Cliente</th>
                    <th class="text-center">Contrário</th>
                    <th class="text-center">Tipo de ação</th>
                    <th>Natureza</th>
                </tr>
            </thead>

            <tbody>
                <!-- Conteúdo da tabela -->
                {% for object in object_list_dict %}
                <tr>
                    <td>
                        <!-- Caso objeto for importado, faça: -->
                        {% if object.status %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-circle ok"></i>
                        {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-minus-circle no"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">{{ object.pasta_formatado }}</td>
                    <td class="text-center" style="text-transform: uppercase;">{{ object.escritorio_responsavel }}</td>
                    <td id="link">
                        <!-- para ir ao url ao clicar object.cliente -->
                        <a href="{{ object.get_absolute_url }}"><strong>{{ object.cliente_formatado }}</strong> </a>
                    </td>
                    <td class="text-center" style="text-transform: capitalize;">{{ object.contrario }}</td>
                    <td class="text-center" style="text-transform: capitalize;">{{ object.tipo_action }}</td>
                    <td class="text-center" style="text-transform: capitalize;">{{ object.natureza }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Caso não tenha na lista de produto -->
        {% else %}
        <p class="alert alert-warning">Sem itens na lista.</p>
        {% endif %}
    </div>
    {% endblock content %}

</body>

</html>