<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- Titulo -->
    <title>Formulário</title>

    <!-- Configurações do css margens, bordas e asterístico -->
    <style>
        span.required:after {
            content: " *";
            color: red;
        }

        .button_form {
            margin-top: 20px;
            text-align: right;
        }

        #titulo_form {
            border-bottom: 2px solid #b2b4b7;
            padding-bottom: 10px;
        }
    </style>
</head>

<body>
    {% extends "base.html" %}
    <!-- https://github.com/jazzband/django-widget-tweaks -->
    {% load widget_tweaks %}
    {% block content %}

    <!-- Criando uma caixa com padrão 1000px de largura -->
    <div class="jumbotron">
        <div style="margin-top: -30px;" class="container">
            <!-- Criando um formulario com método POST -->
            <form class="needs-validation" method="POST" novalidate>
                <!-- Token para liberar postar no formulario (Segurança) -->
                {% csrf_token %}
                <!-- Titulo -->
                <h1 id="titulo_form" style="margin-bottom: 50px;" class="text-center">Formulário</h1>

                <!-- Classe: grupo de caixa de formulário (ficar na mesma linha) -->
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="id_pasta">
                            <span class="required">Proc- </span>
                            <!--Escolha Obrigatória -->
                        </label>
                        <input type="number" name="pasta" min="0" class="form-control" required="" id="id_pasta">
                        <!-- Enviar um feedback(reposta) caso os dados não seja inserido -->
                        <div class="invalid-feedback">
                            Por favor, forneça apenas os números.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_codigo_processo">
                            <!-- Escolha não obrigatória -->
                            Código do processo
                        </label>
                        <input type="text" name="codigo_processo" value="PJE" maxlength="10" class="form-control"
                            id="id_codigo_processo">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="id_escritorio_responsavel">
                            <span class="required">Escritório responsável</span>
                        </label>
                        <input type="text" name="escritorio_responsavel" value="NPJ-UNIVAG" maxlength="15"
                            class="form-control" required="" id="id_escritorio_responsavel">
                        <div class="invalid-feedback">
                            Por favor, forneça o nome do escritório responsável.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_escritorio_origem">
                            Escritório de Origem
                        </label>
                        <input type="text" name="escritorio_origem" value="NPJ-UNIVAG" maxlength="15"
                            class="form-control" id="id_escritorio_origem">
                    </div>
                </div>

                <!-- Classe: formulário inline (um baixo do outro) -->
                <div class="form-group">
                    <label for="id_cliente">
                        <span class="required">Cliente no NPJ-UNIVAG</span>
                    </label>
                    <input type="text" name="cliente" maxlength="100" class="form-control" required="" id="id_cliente">
                    <div class="invalid-feedback">
                        Insira o nome completo do cliente.
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_contrario">
                        <span class="required">Contrário</span>
                    </label>
                    <input type="text" name="contrario" maxlength="100" class="form-control" required=""
                        id="id_contrario">
                    <div class="invalid-feedback">
                        Insira o nome completo.
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_tipo_action">
                        <span class="required">Tipo de ação</span>
                    </label>
                    <input type="text" name="tipo_action" maxlength="100" class="form-control" required=""
                        id="id_tipo_action">
                    <div class="invalid-feedback">
                        Por favor, forneça o tipo de ação.
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="id_n_principal">
                            Nº Principal
                        </label>
                        <input type="number" name="n_principal" min="0" class="form-control" id="id_n_principal"
                            placeholder="Apenas números.">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_orgao_principal">
                            Orgão
                        </label>
                        <input type="text" name="orgao_principal" maxlength="128" class="form-control"
                            id="id_orgao_principal">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="id_professor">
                            Professor Orientador
                        </label>
                        <input type="text" name="professor" value="BRUNO HENRIQUE DA ROCHA" maxlength="100"
                            class="form-control" id="id_professor">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_natureza">
                            <span class="required">Natureza</span>
                        </label>
                        <input type="text" name="natureza" maxlength="100" class="form-control" required=""
                            id="id_natureza">
                        <div class="invalid-feedback">
                            Por favor, forneça a natureza do processo.
                        </div>
                    </div>
                </div>

                <!-- Classe: Check list (quadrado para 'ok') -->
                <div style="margin-top:10px;" class="form-check">
                    <input type="checkbox" name="status" class="form-check-input" id="id_status">
                    <label class="form-check-label" for="id_status">Encerrado</label>
                </div>

                <!-- Classe: grupo de botões (Criado por mim)-->
                <div class="button_form">
                    <button style="margin-right: 10px;" type="submit" class="btn btn-success">
                        <span class="fa fa-check"></span>&nbsp;Cadastrar
                    </button>

                    <!-- Redireciona para a url caso for clicado -->
                    <a href="{% url 'description:processo_list' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="fa fa-close"></span>&nbsp;Cancelar
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!-- Configurações de JS para a classe 'invalid-feedback' funcionar -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    {% endblock content %}

</body>

</html>