<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Registro de Processos</title>

    <!-- Configurações básicas de templates CSS -->
    <style>
        #borda {
            margin-bottom: 40px;
        }

        .link {
            color: White;
        }

        .alerta {
            margin-left: 8px;
            margin-right: 8px;
        }

        .conteudo {
            position: relative;
            padding: 10px;
            /* Mesma Altura do Rodapé */
        }
    </style>
</head>

<body>

    {% extends "base.html" %}

    {% block content %}
    <div class="conteudo">

        <!-- Template de mensagem inicial simpes para alertas de eventos -->
        <div class="jumbotron">
            <div class="container">
                <h1 id="borda">Bem-vindo!</h1>
                <div class="card">
                    <div style="margin-bottom: 15px;" class="card-header">
                        <h4 style="margin-top: 8px;">Alertas</h4>
                    </div>

                    <!-- Alerta para eventos de hoje -->
                    {% for event in lista_event %}
                    {% if event.prazo_hoje %}
                    <div class="alerta">
                        <div style="background-color: red; border: none;" class="alert alert-danger" role="alert">
                            <strong>Este evento é hoje!</strong> {{ event.title }}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <!-- Alerta para eventos de amanhã-->
                    {% for event in lista_event %}
                    {% if event.prazo_amanha %}
                    <div class="alerta">
                        <div style="background-color: rgba(233, 236, 239, 0.7);" class="alert alert-secondary"
                            role="alert">
                            <strong>Este evento é amanhã!</strong> {{ event.title }}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</body>

</html>