<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">



    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>


    <!-- Custom styles for this template -->
    <!-- <link href="signin.css" rel="stylesheet"> -->
</head>

<body class="text-center">


    {% block content %}
    <main class="form-signin">
        <form class="needs-validation" method="POST" novalidate>
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <label for="id_username" class="visually-hidden">Usuário</label>
            <input type="text" name="username" maxlength="100" placeholder="Usuario" class="form-control" required
                autofocus id="id_username">
            <div class="invalid-feedback">
                Insira um usuário que esteja cadastrado.
            </div>


            <label for="id_password" class="visually-hidden">Senha</label>
            <input type="password" name="password" maxlength="100" placeholder="Senha" class="form-control" required
                id="id_password">
            <div class="invalid-feedback">
                Insira uma senha válida.
            </div>

            <div class="button_form">
                <a href="{% url 'core:cadastrar_user' %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-close"></span>&nbsp;Cadastrar
                    </button>
                </a>

                <button style="margin-right: 10px;" type="submit" class="btn btn-success">
                    <span class="fa fa-check"></span>&nbsp;Enviar
                </button>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>


    {% endblock content %}
</body>

</html>