<!--https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html-->
<!--Criação de um menu-->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <style>

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand">Registro</a> <!-- Define o nome do menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <!-- Nome e links do menu-->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'description:processo_list' %}">Processos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Agenda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'cal:calendar' %}">Calendário</a>
                        <a class="dropdown-item" href="{% url 'cal:list_event' %}">Eventos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:deslogar_user' %}">Sair</a>
                </li>
            </ul>
            <!-- Sistema de busca no menu
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
        </div>
    </nav>
</body>

</html>